[OSEv3:children]
masters
nodes
etcd
lb
local
glusterfs
glusterfs_registry

[OSEv3:vars]
openshift_release=v3.11
openshift_deployment_type=openshift-enterprise

ansible_ssh_user=root
root_password="Dell0SS!"

openshift_storage_glusterfs_image=registry.access.redhat.com/rhgs3/rhgs-server-rhel7:v3.11
openshift_storage_glusterfs_block_image=registry.access.redhat.com/rhgs3/rhgs-gluster-block-prov-rhel7:v3.11
openshift_storage_glusterfs_heketi_image=registry.access.redhat.com/rhgs3/rhgs-volmanager-rhel7:v3.11

openshift_master_cluster_method=native
openshift_master_cluster_hostname=r5a.local
openshift_master_cluster_public_hostname=ocp.example.com
openshift_master_default_subdomain=apps.ocp.example.com
openshift_master_cluster_ip=192.168.20.99
openshift_master_cluster_public_ip=100.82.42.99
openshift_master_portal_net=10.0.0.0/16
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_htpasswd_users={'admin': '$apr1$i4wJZDwp$dKhqHNvPCzTcXAt99Gooz0'}
openshift_clock_enabled=true
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'
 
# logging
openshift_logging_install_logging=true
openshift_logging_es_pvc_dynamic=true 
openshift_logging_es_pvc_size=100Gi
openshift_logging_es_cluster_size=3
openshift_logging_es_pvc_storage_class_name='glusterfs-registry-block'
openshift_logging_kibana_nodeselector={"node-role.kubernetes.io/infra": "true"}
openshift_logging_curator_nodeselector={"node-role.kubernetes.io/infra": "true"}
openshift_logging_es_nodeselector={"node-role.kubernetes.io/infra": "true"}
 
# metrics
openshift_metrics_install_metrics=true 
openshift_metrics_storage_kind=dynamic
openshift_metrics_storage_volume_size=100Gi
openshift_metrics_cassandra_pvc_storage_class_name='glusterfs-registry-block'
openshift_metrics_hawkular_nodeselector={"node-role.kubernetes.io/infra": "true"}
openshift_metrics_cassandra_nodeselector={"node-role.kubernetes.io/infra": "true"}
openshift_metrics_heapster_nodeselector={"node-role.kubernetes.io/infra": "true"}

# registry
openshift_master_dynamic_provisioning_enabled=True
openshift_hosted_registry_storage_kind=glusterfs
openshift_hosted_registry_storage_volume_size=500Gi
openshift_hosted_registry_selector="node-role.kubernetes.io/infra=true"
 
# OCS storage cluster for applications
openshift_storage_glusterfs_namespace=app-storage
openshift_storage_glusterfs_storageclass=true
openshift_storage_glusterfs_storageclass_default=false
openshift_storage_glusterfs_block_deploy=false
 
# OCS storage for OpenShift infrastructure
openshift_storage_glusterfs_registry_namespace=infra-storage
openshift_storage_glusterfs_registry_storageclass=false
openshift_storage_glusterfs_registry_block_deploy=true
openshift_storage_glusterfs_registry_block_host_vol_create=true
openshift_storage_glusterfs_registry_block_host_vol_size=500
openshift_storage_glusterfs_registry_block_storageclass=true
openshift_storage_glusterfs_registry_block_storageclass_default=false
 
# Red Hat Subscription information. Use user and password OR activation key and organization id.
rhel_subscription_user=dellcloudsol
rhel_subscription_pass=b3s0Mon3Great
activationkey=5288948
org_id=5288948

# Network settings. Required for OS provisioning. 
dns_local=192.168.20.11
dns_upstream=100.82.42.8
external_interface=bond0
external_vlan=421
external_netmask=255.255.255.0
external_gateway=100.82.42.1
internal_interface=bond0
internal_netmask=255.255.255.0
internal_gateway={{ bastion_ip }}
bastion_ip=192.168.20.11
dhcp_first_ip=192.168.20.100
dhcp_last_ip=192.168.20.150

[local]
127.0.0.1

[masters]
master1.r5a.local
master2.r5a.local
master3.r5a.local

[etcd]
master1.r5a.local
master2.r5a.local
master3.r5a.local

[lb]
infra1.r5a.local
infra2.r5a.local
infra3.r5a.local

[glusterfs]
app1.r5a.local glusterfs_cluster=2 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1" ]'
app2.r5a.local glusterfs_cluster=2 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1" ]'
app3.r5a.local glusterfs_cluster=2 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1" ]'
app4.r5a.local glusterfs_cluster=2 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1" ]'
app5.r5a.local glusterfs_cluster=2 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1" ]'
stor1.r5a.local glusterfs_cluster=1 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1", "/dev/nvme2n1", "/dev/nvme3n1", "/dev/nvme4n1", "/dev/nvme5n1", "/dev/nvme6n1", "/dev/nvme7n1", "/dev/nvme8n1", "/dev/nvme9n1", "/dev/nvme10n1", "/dev/nvme11n1" ]'
stor2.r5a.local glusterfs_cluster=1 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1", "/dev/nvme2n1", "/dev/nvme3n1", "/dev/nvme4n1", "/dev/nvme5n1", "/dev/nvme6n1", "/dev/nvme7n1", "/dev/nvme8n1", "/dev/nvme9n1", "/dev/nvme10n1", "/dev/nvme11n1" ]'
stor3.r5a.local glusterfs_cluster=1 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1", "/dev/nvme2n1", "/dev/nvme3n1", "/dev/nvme4n1", "/dev/nvme5n1", "/dev/nvme6n1", "/dev/nvme7n1", "/dev/nvme8n1", "/dev/nvme9n1", "/dev/nvme10n1", "/dev/nvme11n1" ]'
stor4.r5a.local glusterfs_cluster=1 glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1", "/dev/nvme2n1", "/dev/nvme3n1", "/dev/nvme4n1", "/dev/nvme5n1", "/dev/nvme6n1", "/dev/nvme7n1", "/dev/nvme8n1", "/dev/nvme9n1", "/dev/nvme10n1", "/dev/nvme11n1" ]'


[glusterfs_registry]
infra1.r5a.local glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1"]'
infra2.r5a.local glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1"]'
infra3.r5a.local glusterfs_devices='["/dev/nvme0n1", "/dev/nvme1n1"]'

[nodes]
master1.r5a.local openshift_ip=192.168.20.12 idrac_ip=192.168.10.12 serial=BN5D9T2 openshift_node_group_name='node-config-master'
master2.r5a.local openshift_ip=192.168.20.13 idrac_ip=192.168.10.13 serial=BN6B9T2 openshift_node_group_name='node-config-master'
master3.r5a.local openshift_ip=192.168.20.14 idrac_ip=192.168.10.14 serial=BN579T2 openshift_node_group_name='node-config-master'

infra1.r5a.local openshift_ip=192.168.20.15 idrac_ip=192.168.10.15 serial=BN5B9T2 openshift_node_group_name='node-config-infra' openshift_public_ip=100.82.42.15
infra2.r5a.local openshift_ip=192.168.20.16 idrac_ip=192.168.10.16 serial=BN589T2 openshift_node_group_name='node-config-infra' openshift_public_ip=100.82.42.16
infra3.r5a.local openshift_ip=192.168.20.17 idrac_ip=192.168.10.17 serial=BN5F9T2 openshift_node_group_name='node-config-infra' openshift_public_ip=100.82.42.17

app1.r5a.local openshift_ip=192.168.20.18 idrac_ip=192.168.10.18 serial=BN5C9T2 openshift_node_group_name='node-config-compute' 
app2.r5a.local openshift_ip=192.168.20.19 idrac_ip=192.168.10.19 serial=BN699T2 openshift_node_group_name='node-config-compute' 
app3.r5a.local openshift_ip=192.168.20.20 idrac_ip=192.168.10.20 serial=BN499T2 openshift_node_group_name='node-config-compute' 
app4.r5a.local openshift_ip=192.168.20.21 idrac_ip=192.168.10.21 serial=BN689T2 openshift_node_group_name='node-config-compute' 
app5.r5a.local openshift_ip=192.168.20.22 idrac_ip=192.168.10.22 serial=BN4D9T2 openshift_node_group_name='node-config-compute' 

stor1.r5a.local openshift_ip=192.168.20.23 idrac_ip=192.168.10.23 serial=J4ZM1S2 openshift_node_group_name='node-config-compute' interface3='p7p1' interface4='p7p2'
stor2.r5a.local openshift_ip=192.168.20.24 idrac_ip=192.168.10.24 serial=J4ZL1S2 openshift_node_group_name='node-config-compute' interface3='p7p1' interface4='p7p2'
stor3.r5a.local openshift_ip=192.168.20.25 idrac_ip=192.168.10.25 serial=J4ZKCS2 openshift_node_group_name='node-config-compute' interface3='p7p1' interface4='p7p2'
stor4.r5a.local openshift_ip=192.168.20.26 idrac_ip=192.168.10.26 serial=J4ZLCS2 openshift_node_group_name='node-config-compute' interface3='p7p1' interface4='p7p2'


[nodes:vars]
idrac_user=root
idrac_password=Dell0SS!

oreg_auth_user=dellcloudsol
oreg_auth_password=b3s0Mon3Great

oreg_url=registry.redhat.io/openshift3/ose-${component}:${version}
openshift_examples_modify_imagestreams=true