interface port-channel1
 no shutdown
 switchport mode trunk
 switchport access vlan {{ internal_vlan }}
 switchport trunk allowed vlan {{ mgmt_vlan }},{{ external_vlan }}
 vlt-port-channel 1
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel2
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 2
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel3
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 3
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel4
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 4
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel5
 no shutdown
 switchport mode trunk
 switchport access vlan {{ internal_vlan }}
 switchport trunk allowed vlan {{ external_vlan }}
 vlt-port-channel 5
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel6
 no shutdown
 switchport mode trunk
 switchport access vlan {{ internal_vlan }}
 switchport trunk allowed vlan {{ external_vlan }}
 vlt-port-channel 6
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel7
 no shutdown
 switchport mode trunk
 switchport access vlan {{ internal_vlan }}
 switchport trunk allowed vlan {{ external_vlan }}
 vlt-port-channel 7
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel8
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 8
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel9
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 9
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel10
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 10
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel11
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 11
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel12
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 12
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel13
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 13
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel14
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 14
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel15
 no shutdown
 switchport mode access
 switchport access vlan {{ internal_vlan }}
 vlt-port-channel 15
 lacp fallback enable
 spanning-tree port type edge
 mtu {{ mtu }}
!
interface port-channel48
 no shutdown
 switchport mode trunk
 switchport trunk allowed vlan {{ mgmt_vlan }},{{ internal_vlan }},{{ external_vlan }}
 vlt-port-channel 48
!
interface ethernet1/1/1
 description bastion
 no switchport
 no shutdown
 channel-group 1 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/2
 description master1
 no switchport
 no shutdown
 channel-group 2 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/3
 description master2
 no switchport
 no shutdown
 channel-group 3 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/4
 description master3
 no switchport
 no shutdown
 channel-group 4 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/5
 description infra1
 no switchport
 no shutdown
 channel-group 5 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/6
 description infra2
 no switchport
 no shutdown
 channel-group 6 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/7
 description infra3
 no switchport
 no shutdown
 channel-group 7 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/8
 description app1
 no switchport
 no shutdown
 channel-group 8 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/9
 description app2
 no switchport
 no shutdown
 channel-group 9 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/10
 description app3
 no switchport
 no shutdown
 channel-group 10 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/11
 description app4
 no switchport
 no shutdown
 channel-group 11 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/12
 description app5
 no switchport
 no shutdown
 channel-group 12 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/13
 description storage1
 no switchport
 no shutdown
 channel-group 13 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/14
 description storage2
 no switchport
 no shutdown
 channel-group 14 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/15
 description storage3
 no switchport
 no shutdown
 channel-group 15 mode active
 lacp port-priority {{ lacp_port_priorty }}
 mtu {{ mtu }}
!
interface ethernet1/1/48
 description uplink
 no shutdown
 channel-group 48 mode active
 no switchport
 mtu {{ mtu }}
!
no iscsi enable
!
