!
interface ethernet1/1/49
 no shutdown
 no switchport
!
interface ethernet1/1/50
 no shutdown
 no switchport
!
vlt-domain 100
 backup destination {{ peer_ip }}
 discovery-interface ethernet1/1/49-1/1/50 
 peer-routing
 peer-routing-timeout {{ vlt_peer_routing_timeout }}
 primary-priority {{ vlt_priority }}
 vlt-mac 00:11:22:33:44:aa 
