set timeout=3


{% if item.bond is defined %}
menuentry '{{ item.name }}' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi {{ os }}/{{ version }}/{{ kernel_file }} nomodeset rd.neednet=1 coreos.inst.insecure coreos.live.rootfs_url=http://{{ http_ip }}:{{ http_port }}/{{ os }}/{{ version }}/{{ rootfs }} coreos.inst.install_dev={{ master_install_device }} coreos.inst.image_url=http://{{ http_ip }}:{{ http_port }}/{{ os }}/{{ version }}/{{ uefi_file }} coreos.inst.ignition_url=http://{{ http_ip }}:{{ http_port }}/{{ http_ignition }}/master.ign ip={{ item.ip}}::{{ ansible_default_ipv4.gateway }}:{{ ansible_default_ipv4.netmask }}:{{ item.name }}.{{ cluster }}.{{ ansible_domain }}:{{ item.bond }}:none bond={{ item.bond }}:{{ item.primary }},{{ item.backup }}:{{ item.options }} nameserver={{ dns_ip }}
  initrdefi {{ os }}/{{ version }}/{{ initramfs }}
}
{% else %}
menuentry '{{ item.name }}' --class fedora --class gnu-linux --class gnu --class os {
  linuxefi {{ os }}/{{ version }}/{{ kernel_file }} nomodeset rd.neednet=1 coreos.inst.insecure coreos.live.rootfs_url=http://{{ http_ip }}:{{ http_port }}/{{ os }}/{{ version }}/{{ rootfs }} coreos.inst.install_dev={{ master_install_device }} coreos.inst.image_url=http://{{ http_ip }}:{{ http_port }}/{{ os }}/{{ version }}/{{ uefi_file }} coreos.inst.ignition_url=http://{{ http_ip }}:{{ http_port }}/{{ http_ignition }}/master.ign ip={{ item.ip}}::{{ ansible_default_ipv4.gateway }}:{{ ansible_default_ipv4.netmask }}:{{ item.name }}.{{ cluster }}.{{ ansible_domain }}:{{ item.interface }}:none nameserver={{ dns_ip }}
  initrdefi {{ os }}/{{ version }}/{{ initramfs }}
}
{% endif %}
