#!ipxe
set base http://{{ bastion_ip }}/ipxe

echo Configuring network...
isset ${ip} || dhcp || echo DHCP failed

set url_serial ${base}/serial/${smbios/serial}.ipxe

echo Trying ${url_serial}...
chain --autofree ${url_serial} || echo FAILED

echo Trying local boot
