#!ipxe

set base http://{{ bastion_ip}}/atomic/media
set pxe images/pxeboot
set ks  atomic-{{ item }}.ks

kernel ${base}/${pxe}/vmlinuz initrd=initrd.img ip=dhcp inst.repo=${base} inst.ks=${base}/${ks}
initrd ${base}/${pxe}/initrd.img
boot
